---
# tasks file for ansible-timedatectl
- name: Setup timesync config
  template:
    src: timesyncd.conf.template
    dest: /etc/systemd/timesyncd.conf
  notify: run Timedatectl
  when: ansible_service_mgr == "systemd"

- name: set Timezone
  timezone: name={{ timedatectl_timezone }}
  when: ansible_service_mgr == "systemd"
